#set($user=${request.session.getAttribute("SPRING_SECURITY_CONTEXT").authentication.principal})
<script>
    var PAGEUSER = {
        version: "$!{version}",
        userId: "$!{user.userId}",
        web: "$!{user.getWeb(${user.userId})}",
        realName: "$!{user.realName}",
        icon:"$!{user.icon}",
        identityId:"$!{user.identityId}",
        identityDescription:"$!{user.identityDescription}",
        subjectName:"$!{user.subjectName}",
        bookName:"$!{user.bookName}",
        isManager:"$!{user.paramMap.get("isManager")}",
        isLimit: "$!{user.paramMap.get("isLimit")}",
        teacherClass:[
            #foreach($cla in $user.teacherClass)
                {
                    classId: "$!{cla.classId}",
                    className: "$!{cla.className}",
                    isCharge:#if($!{cla.chargeId}==$!{user.userId}) 1 #else 0 #end,
                    gradeNum:"$!{cla.gradeNum}",
					classType: "$!{cla.classType}",
                    subjectName:"$!{cla.subjectName}"
                }#if($foreach.hasNext),#end
            #end
        ],
        grade: "$!{user.studentClass.gradeNum}",
        gradeName: "$!{user.studentClass.gradeName}",
        className: "$!{user.studentClass.className}",
        classId:"$!{user.classId}",
        positionId: "$!{user.positionId}",
        positionName: "$!{user.positionName}",
        schoolId: "$!{user.schoolId}",
        schoolName: "$!{user.schoolName}",
        area: "$!{user.area}",
        areaName: "$!{user.areaName}",
        roles:[
            #foreach($role in $user.roles)
                {
                    userId: "$!{role.userId}",
                    icon: "$!{role.icon}",
                    name: "$!{role.realName}",
                    desc: "$!{role.orgName}"
                }#if($foreach.hasNext),#end
            #end
        ],
        servertime:"$!{user.getServerTime().getTime()}",
        kids:[
            #foreach($kid in $user.paramMap.get("kidOfParent"))
                {
                    userId: "$!{kid.left.userId}",
                    icon: "$!{kid.left.icon}",
                    name: "$!{kid.left.realName}",
                    classId: "$!{kid.left.classId}",
                    classFullName: "$!{kid.left.classFullName}",
                    schoolId: "$!{kid.left.schoolId}",
                    areaCode: "$!{kid.left.areaCode}",
                    isCurrent:$!{kid.right}
                }#if($foreach.hasNext),#end
            #end
        ]
    }
</script>