##需要特定布局的时候可以在vm中写出来需要引用的布局  #set($layout="/layout/speciallayout.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title id="title1">特定布局模板</title>
</head>
<body>
    $screen_content
</body>
</html>